[submodule "PI/Final-Work"]
	path = PI/Final-Work
	url = https://github.com/MiguelNdeCarvalho/PI-Work
[submodule "BD/Work-1"]
	path = BD/Work-1
	url = https://github.com/MiguelNdeCarvalho/BD-Work-1
[submodule "BD/Work-2"]
	path = BD/Work-2
	url = https://github.com/MiguelNdeCarvalho/BD-Work-2
[submodule "CG/Final-Work"]
	path = CG/Final-Work
	url = https://github.com/MiguelNdeCarvalho/CG-FinalWork
[submodule "CG/Exercises"]
	path = CG/Exercises
	url = https://github.com/MiguelNdeCarvalho/CG
[submodule "SOI/Work-1"]
	path = SOI/Work-1
	url = https://github.com/MiguelNdeCarvalho/SOI-Trab1
[submodule "MDS/Final-Work"]
	path = MDS/Final-Work
	url = https://github.com/MiguelNdeCarvalho/MDS-Work
[submodule "MDS/MDS-Studdy"]
	path = MDS/MDS-Studdy
	url = https://github.com/MiguelNdeCarvalho/MDS-Freq
[submodule "Redes/Redes"]
	path = Redes/Redes
	url = https://github.com/MiguelNdeCarvalho/Redes
[submodule "Redes/Redes-Work"]
	path = Redes/Redes-Work
	url = https://github.com/MiguelNdeCarvalho/Redes-Work
[submodule "TW/TW"]
	path = TW/TW
	url = https://github.com/MiguelNdeCarvalho/TW
[submodule "TW/TW-Work1"]
	path = TW/TW-Work1
	url = https://github.com/MiguelNdeCarvalho/TW-Work1
[submodule "TW/TW-Work2"]
	path = TW/TW-Work2
	url = https://github.com/MiguelNdeCarvalho/TW-Work2
[submodule "AA/AA"]
	path = AA/AA
	url = https://github.com/MiguelNdeCarvalho/AA
[submodule "AA/AA-Work1"]
	path = AA/AA-Work1
	url = https://github.com/MiguelNdeCarvalho/AA-Work1
[submodule "AA/AA-Work2"]
	path = AA/AA-Work2
	url = https://github.com/MiguelNdeCarvalho/AA-Work2
[submodule "P3/P3"]
	path = P3/P3
	url = https://github.com/MiguelNdeCarvalho/P3
[submodule "P3/P3-WORK"]
	path = P3/P3-WORK
	url = https://github.com/jperas243/P3-WORK
[submodule "ALP/ALP"]
	path = ALP/ALP
	url = https://github.com/MiguelNdeCarvalho/ALP
[submodule "EDAI/EDAI"]
	path = EDAI/EDAI
	url = https://github.com/MiguelNdeCarvalho/EDAI.git
[submodule "EDAI/EDAI-Work"]
	path = EDAI/EDAI-Work
	url = https://github.com/MiguelNdeCarvalho/EDAI-Work.git
[submodule "EDAII/EDAII"]
	path = EDAII/EDAII
	url = https://github.com/MiguelNdeCarvalho/EDAII.git
[submodule "EDAII/EDAII-Work-1"]
	path = EDAII/EDAII-Work-1
	url = https://github.com/MiguelNdeCarvalho/EDAII-Work-1.git
[submodule "EDAII/EDAII-Work-2"]
	path = EDAII/EDAII-Work-2
	url = https://github.com/MiguelNdeCarvalho/EDAII-Work-2.git
[submodule "EDAII/EDAII-Work-3"]
	path = EDAII/EDAII-Work-3
	url = https://github.com/MiguelNdeCarvalho/EDAII-Work-3.git
[submodule "IA/IA"]
	path = IA/IA
	url = git@github.com:MiguelNdeCarvalho/IA.git
[submodule "IA/IA-Work-1"]
	path = IA/IA-Work-1
	url = git@github.com:MiguelNdeCarvalho/IA-Work-1.git
[submodule "IA/IA-Work-2"]
	path = IA/IA-Work-2
	url = git@github.com:MiguelNdeCarvalho/IA-Work-2.git
[submodule "IA/IA-Work-3"]
	path = IA/IA-Work-3
	url = git@github.com:MiguelNdeCarvalho/IA-Work-3.git
[submodule "IA/IA-Work-4"]
	path = IA/IA-Work-4
	url = git@github.com:MiguelNdeCarvalho/IA-Work-4.git
