[submodule "PI/Final-Work"]
	path = PI/Final-Work
	url = https://github.com/MiguelNdeCarvalho/PI-Work
[submodule "BD/Work-1"]
	path = BD/Work-1
	url = https://github.com/MiguelNdeCarvalho/BD-Work-1
[submodule "BD/Work-2"]
	path = BD/Work-2
	url = https://github.com/MiguelNdeCarvalho/BD-Work-2
[submodule "CG/Final-Work"]
	path = CG/Final-Work
	url = https://github.com/MiguelNdeCarvalho/CG-FinalWork
[submodule "CG/Exercises"]
	path = CG/Exercises
	url = https://github.com/MiguelNdeCarvalho/CG
[submodule "SOI/Work-1"]
	path = SOI/Work-1
	url = https://github.com/MiguelNdeCarvalho/SOI-Trab1
[submodule "MDS/Final-Work"]
	path = MDS/Final-Work
	url = https://github.com/MiguelNdeCarvalho/MDS-Work
[submodule "MDS/MDS-Studdy"]
	path = MDS/MDS-Studdy
	url = https://github.com/MiguelNdeCarvalho/MDS-Freq
[submodule "Redes/Redes"]
	path = Redes/Redes
	url = https://github.com/MiguelNdeCarvalho/Redes
[submodule "Redes/Redes-Work"]
	path = Redes/Redes-Work
	url = https://github.com/MiguelNdeCarvalho/Redes-Work
[submodule "TW/TW"]
	path = TW/TW
	url = https://github.com/MiguelNdeCarvalho/TW
[submodule "TW/TW-Work1"]
	path = TW/TW-Work1
	url = https://github.com/MiguelNdeCarvalho/TW-Work1
[submodule "TW/TW-Work2"]
	path = TW/TW-Work2
	url = https://github.com/MiguelNdeCarvalho/TW-Work2
[submodule "AA/AA"]
	path = AA/AA
	url = https://github.com/MiguelNdeCarvalho/AA
[submodule "AA/AA-Work1"]
	path = AA/AA-Work1
	url = https://github.com/MiguelNdeCarvalho/AA-Work1
[submodule "AA/AA-Work2"]
	path = AA/AA-Work2
	url = https://github.com/MiguelNdeCarvalho/AA-Work2
